* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
ul, li {
    list-style: none;
}
header {
    border-bottom: 1px solid #ddd;
}
header > div {
    width: 90%;
    min-width: 1000px;
    max-width: 1200px;
    height: 80px;
    margin: 0 auto;
}
header .logo {
    float: left;
}
header .logo img {
    height: 60px;
    margin-top: 10px;
}
header .gnb {
    float: right;
}
header .gnb li {
    display: inline-block;
    margin-top: 28px;
    margin-left: 30px;
}
header .gnb li:first-child {
    margin-left: 0;
}

#ink{
    width: 100%;

}
section2 {
    height: 2000px;
    background-color:aqua;
    margin-top: 100px;
}
#ink43{
    width: 25%;
    float: left;
}
#title1{
    font-size: 80px;
}
#caption1{
    font-size: 30px;
    margin-left: 160px;
}
#sec1-text {
    text-align: center;
    display: block;
    margin-top: -700px;
}
footer{
    margin-bottom: 0;
    margin-top: 550px;
    text-align: center;
}